<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css" />
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
    <link rel="stylesheet" href="assets/layout.css">
</head>

<body>


    <div class="container">
        <header>
            <%- include('partials/navbar') %>
        </header>
        <%- body %>
        <footer>
            <!-- footer -->
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>



    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
    <script type="text/javascript" src="scripts/notify.js"></script>
    <script src="dropzone-5.7.0/dist/dropzone.js"></script>
    <script>
        jQuery(document).ready(function () {
            $('#dirTable').DataTable({
                stateSave: false, paging: true,
                "ordering": true, lengthMenu: [10, 15, 20, 25, 50]
            });

            var dZUpload = $('#frmUpload')//.dropzone({})

            Dropzone.options.frmUpload = {
                paramName: "file", // The name that will be used to transfer the file
                timeout: 240000,//4 minutes
                maxFiles: 50,
                addRemoveLinks: true,
                autoProcessQueue: true,
                maxFilesize: 1000, // MB
                accept: function (file, done) {
                    if (file.name == "justinbieber.jpg") {
                        done("Naha, you don't.");
                    }
                    else {
                        done();
                        console.log('up ok')
                    }
                },
                complete: function (file, some) {                                     
                    dZUpload[0].dropzone.removeFile(file)                    
                }
            };
            


            //Dropzone.forElement('#frmUpload').removeAllFiles(true)
        });
    </script>
</body>

</html>