<form action="/upload-files" method="POST" enctype="multipart/form-data" class="dropzone" id='frmUpload'>
    <input type="hidden" name="uploadFolder" value="<%=uploadFolder %>">
    <div class="fallback">
        <input name="games" type="file" />
    </div>
    
</form>