<h3>Due to ssh limitations, you can upload up to 50 files at time</h3>
<form action="/upload-files" method="POST" enctype="multipart/form-data" class="dropzone" id='frmUpload'>
    <input type="hidden" name="uploadFolder" value="<%=uploadFolder %>">
    <div class="fallback">
        <h3>Your browser does not suport this operation</h3>
    </div>    
</form>